body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111316;
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper_candles{
  width: min-content;
 
  
}
.b_w{
  display: flex;
  border: 1px solid #272D35;
  border-left: none;
  border-right: none;
 height: 35px;
}
.btnT{
  background-color:#111316;
  border: none;
  color:#5E6673 ;
  
}
.btnT:hover{
  color:#2FF9F6;
}
.nh{
  background-color:#111316;
  border: none;
  color:#5E6673 ;
}
.e_q{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 116px;
  padding-right: 7px;
  align-items:center;

}
.header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 60px;
  border: 1px solid #272D35;
  border-bottom: none;
  color:rgb(0, 183, 255);
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  

}
.userWrapper{
  display: flex;
  justify-content: space-between;
 
}
.avatar{
  width: 40px;
  
  border-radius: 50%;

}
.Money{
  display: flex;
  flex-direction: column;

  width: 100px;
}
.sochik{
  width: 100%;
  text-align: right;
  margin-left: -5px;
  font-family: plex;
  color: rgb(26, 180, 26);
}
.userName{
  color: white;
  font-family: Binance Plex SemiBold;
  width: 100%;
  text-align: right;
  margin-left: -5px;
}